[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
numpy = "*"
pyqt5-tools = "*"
matplotlib = "*"
scipy = "*"
openpyxl = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.8"
